<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerock.mapper.FAQMapper">

<!-- FAQ 글 목록 보여주기 -->
<select id="faqGetList" resultType="com.zerock.domain.FAQVO">
	<![CDATA[
		select * from faq where bno > 0 
	]]>
</select>

</mapper>